<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBL74rRAJogTp3nONibGx85ibTiFU3GA5M</string>
	<key>GCM_SENDER_ID</key>
	<string>512149688106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.haircut</string>
	<key>PROJECT_ID</key>
	<string>phone-authentication-618ef</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-authentication-618ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512149688106:ios:2865cbdf53485fb1a15853</string>
</dict>
</plist>